.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  
}
.container{
  border-radius: 10px;
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 700px;
  min-height: 500px;
}
.container:hover{
  box-shadow: 4px 4px 10px white;
}
.table{
  max-width: 500px;
  color: white;
  font-size: 28px;
}
td:hover,th:hover{
  background-color: #2e384b;
}
input{
  width: 300px;
}
button{
  min-width:120px
}
button:hover{
  background-color: #282c34 !important;
  color: white !important;
}
.navbar{
  position: fixed;
  top: 0;
  background-color: #282c34 !important;
  color: white;
}

.navbar-link:hover{
  background-color: #2e384b;

}